<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623289822964-t6siel23tgklcrl1u7snhgr2fm1cq162.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623289822964-t6siel23tgklcrl1u7snhgr2fm1cq162</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ38D5dFEiqgbxlowi0THJg1seGrdIr7c</string>
	<key>GCM_SENDER_ID</key>
	<string>623289822964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rndd.uz.Clickjobs</string>
	<key>PROJECT_ID</key>
	<string>clickjobs-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>clickjobs-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623289822964:ios:bd5a3293d0fdb834dab8a1</string>
</dict>
</plist>